<% content_for :title, "Events" %>
<% meta_tag :description, "Events Page for The Bridge Church. Stay updated on all of our upcoming events, and see them all here!" %>

<h1 class="headr")>Come Fellowship With Us</h1>
<div class="hblk"></div>
<div class="cont" id="smalltext">
  Come fellowship with us! We hold many events throughout the year, we're sure at least one will interest you. Stay updated on what is happening by visiting this page, or subscribing to our E-Mail Newsletter.
</div>

<% @events.each do |event| %>
  <div class="cont evt">
    <%= image_tag event.background.url %>
    <div>
      <h1><%= event.title %></h1>
      <h3><%= event.date.strftime("%e %b %Y") %></h3>
      <h3><%= event.date.strftime("%l:%M %P") %></h3>
    </div>
    <div>
      <p><%= event.description %></p>
    </div>

  </div>
<% end %>
