<% content_for :title, "Groups" %>
<% meta_tag :description, "Groups page for The Bridge Church. See all of the Sunday School Classes and Ministry Action Teams we offer here." %>

<h1 class='headr'>Bible Studies</h1>
<div class="hblk"></div>
<div class="cont class">
  <div>
    <%= image_tag("kids.jpg", :alt => "Children in the Children's Ministry at The Bridge Church", :id => "ssicon") %>
  </div>
  <div>
    <h2>Childrens Ministry</h2>
    <p>
      This ministry is meant for any children from infants to 5th graders. Jesus loves the children of the world, and so this ministry hopes to guide children on the path to Christ.
    </p>
    <div id="infobox">
      <div>
        <h3>Where?</h3>
        <h4>The Childrens Area</h4>
      </div>
      <div>
        <h3>Meeting Time</h3>
        <h4>9:15 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h3>Contact Leader</h3>
        <h4>Francis Brown</h4>
      </div>
    </div>
  </div>
  <br/>

</div>

<div class="cont class">
  <div>
    <%= image_tag("teens.jpg", :alt => "Youth in the Youth Sunday School Class at The Bridge Church", :id => "ssicon") %>
  </div>
  <div>
    <h2>Youth</h2>
    <p>
      For anyone in Middle or High School. Enjoy fellowship and learn with your fellow peers in a much lower stress environment than school.
    </p>
    <div id="infobox">
      <div>
        <h3>Where?</h3>
        <h4>Youth Room</h4>
      </div>
      <div>
        <h3>Meeting Time</h3>
        <h4>9:15 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h3>Contact Leader</h3>
        <h4>Daryl Coleman</h4>
      </div>
    </div>
  </div>
  <br/>

</div>

<div class="cont class">
  <div>
    <%= image_tag("young.jpg", :alt => "Young Adult Group of People in the Young Adult Sunday School Class at The Bridge Church ", :id => "ssicon") %>
  </div>
  <div>
    <h2>Young Adults</h2>
    <p>
      Our Young Adult Class. For anyone who is early in their life, has young kids, is fresh out of college, and looking to connect with others like themselves.
    </p>
    <div id="infobox">
      <div>
        <h3>Where?</h3>
        <h4>Young Adults Room</h4>
      </div>
      <div>
        <h3>Meeting Time</h3>
        <h4>9:15 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h3>Contact Leader</h3>
        <h4>Dianne Parker</h4>
      </div>
    </div>
  </div>
  <br/>

</div>

<div class="cont class">
  <div>
    <%= image_tag("middle-age.jpg", :alt => "Middle Aged Group of People in the Bridge Builders Sunday School Class at The Bridge Church", :id => "ssicon") %>
  </div>
  <div>
    <h2>Bridge Builders</h2>
    <p>
      This class is for those who have been adults for a good while, but still have youth in them. About age 28-50.
    </p>
    <div id="infobox">
      <div>
        <h3>Where?</h3>
        <h4>Bridge Builders Room</h4>
      </div>
      <div>
        <h3>Meeting Time</h3>
        <h4>9:15 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h3>Contact Leader</h3>
        <h4>Jack Brown</h4>
      </div>
    </div>
  </div>
  <br/>

</div>

<div class="cont class">
  <div>
    <%= image_tag("old.jpg", :alt => "Senior Citizens in the Seniors Sunday School Class at The Bridge Church", :id => "ssicon") %>
  </div>
  <div>
    <h2>Seniors</h2>
    <p>
      For those who have lived life to the fullest. Reccomended for people sixty-five years old or older.
    </p>
    <div id="infobox">
      <div>
        <h3>Where?</h3>
        <h4>Senior's room</h4>
      </div>
      <div>
        <h3>Meeting Time</h3>
        <h4>9:15 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h3>Contact Leader</h3>
        <h4>Dewell Pitts</h4>
      </div>
    </div>
  </div>
  <br/>

</div>

<div class="cont class">
  <div>
    <%= image_tag("three-women.jpg", :alt => "Ladies in the Ladies Sunday School Class at The Bridge Church", :id => "ssicon") %>
  </div>
  <div>
    <h2>Ladies Class</h2>
    <p>
      Learn how to be a woman of God in this class. For any ladies that are adults, all ages are welcome.
    </p>
    <div id="infobox">
      <div>
        <h3>Where?</h3>
        <h4>Ladies Room</h4>
      </div>
      <div>
        <h3>Meeting Time</h3>
        <h4>9:15 AM Sundays</h4>
      </div>
      <div style="flex-grow: 1;">
        <h3>Contact Leader</h3>
        <h4>Harriet Shefield</h4>
      </div>
    </div>
  </div>
  <br/>

</div>

<h1 class='headr'>Ministry Action Teams</h1>

<div class="hblk"></div>
<div class="cont" id="smalltext">
  <p>The purpose of creating Ministry Action Teams, or MATs, is to build highly effective groups that are bent on doing God's work, and to encourage people to use the spiritual gifts they have been given by God. Each team has a specific focus, as well as a leader, in charge of directing this team. If you are interested in joining one of these teams, please speak to the leader.</p>
  <ul>
    <li><b>Audio Visual  </b>- Tommy Brown</li><br><br>
    <li><b> Building and Maintenance </b>- Rich Kryk</li><br><br>
    <li><b> Benevolence </b>- Mary Smith</li><br><br>
    <li><b> Children's Ministry</b>- Frances Brown</li><br><br>
    <li><b> Events</b>- Diane Parker</li><br><br>
    <li><b> Finance </b>- Jack Brown</li><br><br>
    <li><b> HuGgs</b>- Carole Vance and Linda Lambert</li><br><br>
    <li><b> Greeters</b>- Jimmie Evans</li><br><br>
    <li><b> Kitchen</b>- Norma Hulett</li><br><br>
    <li><b> Landscape</b>- Larry Mishoe</li><br><br>
    <li><b> Missions </b>- Mary Kryk</li><br><br>
    <li><b> Outreach </b>- Patricia Swartz</li><br><br>
    <li><b> Personnel </b>- Wendy Wilson</li><br><br>
    <li><b> Prayer </b>- Bob Colson</li><br><br>
    <li><b> Safety </b>- Jimmy Jones</li><br><br>
    <li><b> Web </b>- Matt Wilkes </li><br><br>
    <li><b> Youth Ministry</b>- Daryl and Shelley Holman</li><br><br>
</div>
