<!DOCTYPE html>
<html>
  <head>
    <title>The Bridge Church</title>
    <%= csrf_meta_tags %>
    <META HTTP-EQUIV="Access-Control-Allow-Origin" CONTENT="https://www.stitcher.com/podcast/this-american-life">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload', async: true %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <div class="blkbox"></div>
    <div class="wrapper">
      <div id="top">
        <div class="blk"></div>
        <%= image_tag("logo.png", :alt => "The Bridge Church Logo", :id => "logo") %>
        <div id='links'>
          <div>
            <%= link_to "Home", root_path, class: "hvr-float #{active_class(root_url)} #{active_class(pages_home_url)}" %>
            <div class="infohvr">

            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Vision", page_path('vision'),  class: "hvr-float #{active_class(pages_vision_url)}" %>
            <div class="tooltiptext">
              <h4>Our Message</h4>
              <h4>Classes</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Contact", page_path('contact'),  class: "hvr-float #{active_class(pages_contact_url)}"%>
            <div class="tooltiptext">
              <h4>Staff</h4>
              <h4>Location</h4>
              <h4>Groups</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Events", page_path('events'),  class: "hvr-float #{active_class(pages_events_url)}"%>
            <div class="tooltiptext">
              <h4>Upcoming Events</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Listen", page_path('listen'),  class: "hvr-float #{active_class(pages_listen_url)}" %>
            <div class="tooltiptext">
              <h4>Listen to any Sermon</h4>
            </div>
          </div>
        </div>
        <div id="suprise">
          <%= link_to "Home", root_path, class: "hvr-float #{active_class(root_url)} #{active_class(pages_home_url)}" %>
          <%= link_to "Message", page_path('vision'),  class: "hvr-float #{active_class(pages_vision_url)}" %>
          <%= link_to "Contact", page_path('contact'),  class: "hvr-float #{active_class(pages_contact_url)}"%>
          <%= link_to "Events", page_path('events'),  class: "hvr-float #{active_class(pages_events_url)}"%>
          <%= link_to "Listen", page_path('listen'),  class: "hvr-float #{active_class(pages_listen_url)}" %>
        </div>





        </div>

        <button id="hamburg" src=''></button>
    </div>
      <div id="itop"></div>
      <%= yield %>
  </div>
  </body>
</html>
