<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      The Bridge Church
    </title>

    <meta name='description'
      content='<%= yield_meta_tag(:description, 'Default description') %>' />
    <meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'defaults,ruby,rails') %>' />

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'scripts'%>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <div class="blkbox"></div>
      <div id="top">
        <div class="blk"></div>
        <%= image_tag("logo.png", :alt => "The Bridge Church Logo", :id => "logo") %>
        <div id='links'>
          <div>
            <%= link_to "Home", root_path, class: "hvr-float #{active_class(root_url)} #{active_class(pages_home_url)}" %>
            <div class="infohvr">

            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Vision", page_path('vision'),  class: "hvr-float #{active_class(pages_vision_url)}" %>
            <div class="tooltiptext">
              <h4>Our Vision</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Groups", page_path('groups'),  class: "hvr-float #{active_class(pages_groups_url)}" %>
            <div class="tooltiptext">
              <h4>Sunday School Classes</h4>
              <h4>Ministry Action Teams</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Contact", page_path('contact'),  class: "hvr-float #{active_class(pages_contact_url)}"%>
            <div class="tooltiptext">
              <h4>Staff</h4>
              <h4>Location</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Events", page_path('events'),  class: "hvr-float #{active_class(pages_events_url)}"%>
            <div class="tooltiptext">
              <h4>Upcoming Events</h4>
            </div>
          </div>
          <div class="tooltip">
            <%= link_to "Listen", page_path('listen'),  class: "hvr-float #{active_class(pages_listen_url)}" %>
            <div class="tooltiptext">
              <h4>Listen to any Sermon</h4>
            </div>
          </div>
        </div>
        <div id="suprise">
          <%= link_to "Home", root_path, class: "hvr-float #{active_class(root_url)} #{active_class(pages_home_url)}" %>
          <%= link_to "Vision", page_path('vision'),  class: "hvr-float #{active_class(pages_vision_url)}" %>
          <%= link_to "Groups", page_path('groups'),  class: "hvr-float #{active_class(pages_groups_url)}" %>
          <%= link_to "Contact", page_path('contact'),  class: "hvr-float #{active_class(pages_contact_url)}"%>
          <%= link_to "Events", page_path('events'),  class: "hvr-float #{active_class(pages_events_url)}"%>
          <%= link_to "Listen", page_path('listen'),  class: "hvr-float #{active_class(pages_listen_url)}" %>
        </div>





        </div>

        <button id="hamburg"></button>
      <div id="itop"></div>
      <%= yield %>
  </body>
</html>
